<?xml version=вЂќ1.0" encoding=вЂќUTF-8"?>
 <!DOCTYPE plist PUBLIC вЂњ-//Apple//DTD PLIST 1.0//ENвЂќ вЂњhttp://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version=вЂќ1.0">
 <dict>
 <key>method</key>
 <string>app-store</string>
 <key>teamID</key>
 <string>HZF9JMC8YN</string>
 <key>provisioningProfiles</key>
 <dict>
 <key>ru.tvgubernia.rustdesk</key>
 <string>rustdesk-gubernia-ios-prod-app-store</string>
 </dict>
 </dict>
 </plist>
